:root {
  --mainColor: #db143b;
  --secondaryColor: #ffffff;
  --greyColor: #050505;
}
.login-form {
  margin-top: 50px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  margin-top: 50px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.email {
  font-weight: 600;
  letter-spacing: 1px;
}

.password {
  font-weight: 600;
  letter-spacing: 1px;
}

.password1 {
  font-weight: 600;
  letter-spacing: 1px;
}

.login-title {
  margin-bottom: 20px;
  border-bottom: 2px solid var(--mainColor);
}

.form-container {
  margin-top: 10px;
  gap: 25px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}
